.ats-div {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.ats-head th {
  padding: 0.625rem;
  font-weight: 600;
  color: white;
  background-color: #009281;
}

.ats-locations {
  width: 60%;
}

.ats-title {
  width: 40%;
}

.ats-table {
  border-collapse: collapse;
  border-spacing: 0 0.938rem;
  width: 80%;
  font-family: verdana;
  margin: auto;
}

.public-table-heading {
  font-size: 1.25rem;
  background-color: #0c3a53;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}

.ats-data-row:hover {
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
  border: 0.063rem solid rgba(0,0,0,0);
  border-radius: 0.75rem;
  background: #fff;
  cursor: pointer;
  scale: 1.01;
}

.ats-data-row td {
  padding: 0.625rem;
}
